/* pages/detail/detail.wxss */
.yl-detail {
  padding: 12px;
  border: 1px solid #20894D;
  border-radius: 5px;
  margin: 12px;
  background-color: rgba($color: #20894D, $alpha: .1);
  .yl-ancient-poetry--sub_title{
    font-size: 14px;
    color: #909399;
  }
  .yl-h6{
    margin: 12px 0 0;
  }
}